# Игнорируем виртуальное окружение
venv/

# Игнорируем кэш Python
__pycache__/
*.py[cod]

# Игнорируем логи
*.log

# Игнорируем временные файлы
*.tmp
*.temp

# Игнорируем артефакты сборки
build/
dist/
*.egg-info/

# Игнорируем настройки PyCharm
.idea/

# Игнорируем файлы с секретами
.env

# Windows:
Thumbs.db